html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body{
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	font-weight: 300;
	/*color:#999;*/
	color: #989898;
	background-color: #fdfcf8;
}

h2, h3{
	font-weight: 700;
}

a, a:hover, a:active, a:visited, a:focus{
	color: #989898;
}

.btn-primary{
	background-color: #ba0a13;
	border: none!important;
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
	color: #fff;
	background-color: #ba0a13;
	border: none!important;
}

.btn-primary:hover {
	color: #fff;
	background-color: #ba0a13;
	border: none!important;
}

/*Berliner fontface*/
@font-face {
	font-family: 'berliner_grotesk_d_demibold';
	src: url('berliner_grotesk_d_demi_bold-webfont.woff2') format('woff2'),
	url('berliner_grotesk_d_demi_bold-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

/*colors*/
.red1bg{
	background-color: #9a2222;
}
.red2bg{
	background-color: #7b1515;
}
.red3bg{
	background-color: #ba0a13;
}
.red4bg{
	background-color: #c52a1f;
}
.red2brd{
	border-color: #7b1515;
}
.red4brd{
	border-color: #c52a1f;
}
.red3txt{
	color: #ba0a13!important;
}
.tealbg{
	background-color: #80aa8d;
}
.txtwhite{
	color:#fff!important;
}

.smaller-txt{
	font-size: 0.8em;
}

.smaller-txt a{
	text-decoration: none!important;
}

/*header*/
header.brd-header{
	border-width: 1em;
	border-style: solid;
	/*border-top-color: #7b1515;*/
	border-bottom-color: #ba0a13;
	border-left:none;
	border-right: none;
	border-top:none;
	position: relative;
}

header .red3bg.collapse,
header .red3bg.collapsing {
	position: absolute;
	z-index: 9;
	width: 100%;
}

header .tara-bread{
	font-size: 0.8em;
	color: #fff;
}

header a{
	color:#fff!important;
	text-decoration:none;
	cursor:pointer;
  transition-timing-function: linear;
  transition-duration: .15s;
  transition-property: opacity,filter;
}
header a:hover {
  text-decoration:none;
  opacity: 0.7;
}
header ul{
	list-style: none;
	margin: 0;
	padding: 0;
}

.brd-logo{
	border-top-color:#c52a1f!important;
	border-bottom-color:#c52a1f!important;
}

.links-bottom{
	font-size:0.7em;
}

header .lang-selector .lang,
.show>.btn-secondary.dropdown-toggle {
	border: 1px solid #FFF;
	border-radius: 0;
	background-color: transparent;
	border-color: #FFF;
}

header .lang-selector .dropdown-menu {
	background-color: #9a2222;
	background-clip: padding-box;
	border: 1px solid #fff;
	border-radius: 0;
}

header .lang-selector .dropdown-menu .dropdown-item {
	font-size: 12px;
}

header .lang-selector .dropdown-menu .dropdown-item:focus,
header .lang-selector .dropdown-menu .dropdown-item:hover {
	color: #16181b;
	text-decoration: none;
	background-color: #7b1515;
}

/*menu*/

.hamburger{
	border:none!important;
	outline: none!important;
	box-shadow: none!important;
	padding: 0.5em!important;
}


.hamburger-inner, .hamburger-inner:after, .hamburger-inner:before{
	background-color: #fff!important;
	width: 32px!important;
}

.main-link{
	font-size: 1.3em;
	font-weight: 700;
}

.nav-link{
	display: flex;
	justify-content: center;
	flex-flow: column;
	align-items: center;
}

.nav-link.active:after {
	content: url(../img/arrow.png);
	position: absolute;
	bottom: -33px;
	display: flex;
	margin: auto;
}
#collapseMenu a,
.footer-top a,
.footer-bottom a img {
  transition-timing-function: linear;
  transition-duration: .15s;
  transition-property: opacity,filter;
}

#collapseMenu a:hover,
.footer-top a:hover,
.footer-bottom a:hover img {
  opacity: 0.7;
}

header .lang{
	font-size: 0.8em;
	border:2px solid #fff;
	text-align: center;
}

header h3{
	font-weight: 100;
	color: #fff;
	font-size: 1.6em;
}


.header-static, 
#home .carousel-item {
	border-bottom: 1em solid #ba0a13;
	height: 50vh;
	background-position: center;
	background-size: cover;
}
.header-static,
#home #carouselHeader .carousel-item {
  height: 50vh;
}
#home #carouselHeader .carousel-item {
  height: 47.5vh;
}
#home #carouselParle .carousel-item {
  height: 170px;
}

#home #carouselParle .carousel-item .align-items-center {
  height: 100%;
}

#home .carousel-item {
  border-bottom: none;
}

.tab{
	bottom: 0;
}

.tab .btn{
	background-color: #ba0a13;
	border-top-left-radius: 0.4em;
	border-top-right-radius: 0.4em;
	border-bottom-right-radius: 0!important;
	border-bottom-left-radius: 0!important;
	color: #fff;
	font-size: 1.6em;
	font-weight: 700;
}
.lengueta {
  display: none;
}

/*carousel*/

/*.taragui-carousel-caption {
    width: 100%;
    position: absolute;
    top: 0;
    height: 100%;
    display: flex;
    align-items: center;
    }*/

    /*#carouselHeader .carousel-item{
    	background-size: cover;
    	margin: -2.5em auto;
      }*/

      /*home*/

      #home h2{
       text-align: center;
     }

     #home .btn-info{
       background-color: #fff;
       color:#7a7a7a;
       border-color:#7a7a7a;
     }

     #home .btn-info:hover{
       background-color: #7a7a7a;
       color:#fff;
       border-color:#fff;
     }

    /*#home .slide-ganate{
    	background-image: url(../img/home/header1.jpg);

      }*/

      #home .slide-exp{
       background-image: url(../img/home/header2.jpg);
       margin: 0;
     }

     .banner{
       background: url(../img/bg-yerba.svg);
     }

     .banner-inner{
       background:#80aa8d;
       border-radius: 3em;
     }

     .parle{
       background-color: #0067ab;
     }

     .parle h2{
       color:#fff;
       margin-bottom: 0;
     }

     .parle .img-fluid{
       max-width: 10vw;
     }

     .parle-logo{
       background-color: #3385bc;
     }

     #carouselHeader{
       border-bottom: 1em solid #ba0a13;
       z-index: 999;
     }

     .carousel-control-next, .carousel-control-prev{
       width: 5%!important;
     }

     .carousel-control-prev-icon,
     .carousel-control-next-icon {
       height: 100px;
       width: 100px;
       outline: black;
       background-size: 100%, 100%;
       border-radius: 50%;
       background-image: none;
     }

     .carousel-control-next-icon:after
     {
       content: '\f105';
       font-family: FontAwesome;
       font-size: 55px;
       color: #000;
     }

     .carousel-control-prev-icon:after {
       content: '\f104';
       font-family: FontAwesome;
       font-size: 55px;
       color: #000;
     }

     .prod-buttons{
       display:none;
       height: 100%;
       display: none;
       justify-content: center;
       align-items: center;
       flex-direction: row;
       top: 0;
       z-index: 99999;
     }

     .prod{
       display: flex;
       flex-direction: column;
     }

     .prod a{
       font-weight: 300;
       color: #000!important;
     }

     .prod:hover .prod-buttons{
       display:flex;
     }

     /*matexp*/

     #matexp .slide-exp{
       background-image: url(../img/matexp/header.jpg);
     }

     #matexp h3{
       font-family: 'berliner_grotesk_d_demibold';
       font-size: 1.875em;
       color: #ba0a13;
     }

     #matexp .banner h3{
       color:#fff;
     }

     .saber{
       border-top:0.5em solid #d0deac;
       border-bottom:0.5em solid #d0deac;
     }

     .saber h3{
       color:#fff!important;
     }

     .saber img{
       border:0.5em solid #d0deac;
       border-radius:50%;
       -webkit-border-radius:50%;
       -moz-border-radius:50%;
     }

     #matexp .btn{
       border:none!important;
       font-weight: 700;
     }

     #matexp .btn-primary{
       background-color:#d0deac;
       color:#80aa8d;
     }

     #matexp .btn-secondary{
       background-color:#fcec00;
       color:#ba0a13;
     }

     .steps{
       font-family: 'berliner_grotesk_d_demibold';
       color:#fcec00;
       font-size: 1.3em;
     }

     .steps p{
       line-height: 1em;
     }

     .steps h2{
       color:#fff!important;
     }

     .steps h3{
       color:#fff!important;
       font-size: 1.5em!important;
     }

     /*mapa*/
     #mapa h3{
       font-family: 'berliner_grotesk_d_demibold';
       font-size: 1.875em;
       color: #ba0a13;
     }

     #mapa .header-static{
       background-image: url(../img/mapa/header.jpg);
     }

     /*blog*/

     .leer-index{
       background-color: #f7f3d0;
       text-transform: uppercase;
       font-size: 0.8em;
     }



     .nota .btn-primary, .nota .btn-primary:hover{
       background-color: #ba0a13;
       color: #fff;
       text-decoration: none!important;
       border: none!important;
       -webkit-box-shadow: none!important;
       -moz-box-shadow: none!important;
       box-shadow: none!important;
     }

     .nota-desc{
       font-size: 1.2em;
     }

     .nota h2{
       margin-bottom: 1em;
     }

     .nota .header-static{
       height: 31vh;
     }


     /*Notas masonry*/

     /* The Masonry Container */
     .masonry {
       margin: 1.5em auto;
       column-gap: 1.5em;
     }

     .masonry h4{
       font-weight: 700;
       font-size: 0.8em;
     }

     .nota-show{
       display: inline-block;
     }

     .filtro-hide{
       display: none;
     }

     /* The Masonry Brick */
     .item {
       background: #fff;
       margin: 0 0 1.5em;
       display: inline-block;
       width: 100%;
     }

     /*//////////////////*/

     .category-link, .category-link-todos{
       border-radius: 50%;
       background-color: #fff;
       width: 120px;
       height: 120px;
       display: block;
     }

     .category-link, .category-link-todos{
       cursor: pointer;
       background-size: cover;
     }

     .category-link.cat-active, .category-link-todos.cat-active{
       background-color: #ba0a13;
     }

     .category-link:hover, .category-link-todos:hover{
       background-color: #ba0a13;
     }

     .category-link-todos{
       background-image: url(../img/blog/link-todos.png);
     }

     .category-link[data-target="cat-historia"]{
       background-image: url(../img/blog/link-historia.png);
     }
     .category-link[data-target="cat-energia"]{
       background-image: url(../img/blog/link-energia.png);
     }
     .category-link[data-target="cat-salud"]{
       background-image: url(../img/blog/link-salud.png);
     }
     .category-link[data-target="cat-howto"]{
       background-image: url(../img/blog/link-howto.png);
     }
     .category-link[data-target="cat-prensa"]{
       background-image: url(../img/blog/link-prensa.png);
     }

     .category-link-todos:hover, .category-link-todos.cat-active{
       background-image: url(../img/blog/link-todos-h.png);
     }

     .category-link[data-target="cat-historia"]:hover, .category-link[data-target="cat-historia"].cat-active{
       background-image: url(../img/blog/link-historia-h.png);
     }
     .category-link[data-target="cat-energia"]:hover, .category-link[data-target="cat-energia"].cat-active{
       background-image: url(../img/blog/link-energia-h.png);
     }
     .category-link[data-target="cat-salud"]:hover, .category-link[data-target="cat-salud"].cat-active{
       background-image: url(../img/blog/link-salud-h.png);
     }
     .category-link[data-target="cat-howto"]:hover, .category-link[data-target="cat-howto"].cat-active{
       background-image: url(../img/blog/link-howto-h.png);
     }
     .category-link[data-target="cat-prensa"]:hover, .category-link[data-target="cat-prensa"].cat-active{
       background-image: url(../img/blog/link-prensa-h.png);
     }

     .header-static.header-historia{
       background-image: url(../img/blog/historia/historia2.jpg);
     }
     .header-static.header-energia{
       background-image: url(../img/blog/energia.jpg);
     }
     .header-static.header-howto{
       background-image: url(../img/blog/howto.jpg);
     }
     .header-static.header-prensa{
       background-image: url(../img/blog/prensa.jpg);
     }
     .header-static.header-salud{
       background-image: url(../img/blog/salud.jpg);
     }

     .bgbg{
       background-image: url(../img/blog/border.png);
       background-repeat: repeat-x;
     }


     .nota-thumb:hover{
       cursor: pointer;
     }

     .nota-preview{
       -webkit-box-shadow: 0px 6px 11px -2px rgba(0,0,0,0.26);
       -moz-box-shadow: 0px 6px 11px -2px rgba(0,0,0,0.26);
       box-shadow: 0px 6px 11px -2px rgba(0,0,0,0.26);
     }


     .nota-preview h2{
       font-size: 1.4em;
     }

     .nota-preview h2 a{
       color:#444!important;
     }

     .nota-caption p{
       overflow: hidden;
       text-overflow: ellipsis;
       display: -webkit-box;
       -webkit-line-clamp: 3;
       -webkit-box-orient: vertical;
     }

     .nota .main-img{
       max-height: 30vh;
       overflow:hidden;
     }

     .nota img.main{
       display: block;
       width: 100%;
     }

     .nota h1{
       font-size:1.8em;
       font-weight: 700;
     }

     .nota h2{
       font-size:1em;
     }

     .nota span{
       font-style: italic;
       font-size: 0.8em;
     }

     .nota a{
       color:#999;
       text-decoration: underline;
     }

     /*productos*/

     #productos .header-static{
       background-image: url(../img/prods/header.jpg);
     }

     #producto-interna .ahora{
       display: none;
     }

     #producto-interna .header-static{
       background-image: url(../img/prods/header-interna.jpg);
     }


     /*footer*/
     footer{
       color: #fff;
     }
     footer ul{
       list-style: none;
     }
     footer ul li{
       font-size: 0.7777777777777778em;
     }

     footer .bio{
       font-size: 0.9em;
     }


     .footer-top{
       background-image: url(../img/bgfoot1.png), url(../img/mano.svg), url(../img/bgfoot2.png);
       background-repeat: repeat-x, no-repeat, repeat-x;
       background-position: top, right, bottom;
       background-size: auto, 17vw, auto;
     }
     .footer-top a{
       text-decoration: none;
       color:#fff;
     }
     .footer-top h3{
       font-size: 1.1666666666666667em;
     }
     .footer-top h3 a{
       color: #fded00;
       font-weight: 300;
       border-bottom: 4px solid #fff;
     }
     .footer-bottom{
       font-size: 0.7777777777777778em;
     }

     .taragui-nav{
       border-top: 1em solid #7b1515;
       border-bottom: 1em solid #ba0a13;
     }

     .custom-select{
       font-size: 0.7em;
     }

     #carouselProds-lg .prod {
       min-height: 320px;
     } 

     #carouselProds-md .prod {
       min-height: 310px;
     }

     #carouselProds-sm .prod {
       min-height: 420px;
     }

     #carouselProds-xs .prod {
       min-height: 460px;
     }

     /*Form*/
     #form-contacto .contacto .btn-submit {
      width: 150px;
      margin: 0 auto;
      margin-bottom: 25px;
      margin-top: 10px;
    }
    /*responsive*/

    /*Small devices (landscape phones, 576px and up)*/
    @media (min-width: 576px) {

    }

    /*Medium devices (tablets, 768px and up)*/
    @media (min-width: 768px) and (max-width: 992px) {
      .footer-bottom .redes-footer {
        margin-top: -35px;
        margin-left: -14px;
      }
    }

    @media (min-width: 768px) and (max-width: 992px) {
      footer .logo-footer {
        max-width: 15em;
      }
    }

    /*Large devices (desktops, 992px and up)*/
    @media (min-width: 992px) {
     header .logo-link{
      margin: 0;
      height: 5em;
      display: flex;
      margin-top: -1.2em;
      padding: 1em;
    }
  .lengueta {
      position: fixed;
      display: block;
      right: -50px;
      top: 42%;
      z-index: 999;
      width: 140px;
      height: 40px;
      text-align: center;
      line-height: 40px;
      -webkit-transform: rotate(270deg);
      -ms-transform: rotate(270deg);
      transform: rotate(270deg);
      background: #ba0a13;
      color: #fff;
      /* padding: 10px; */
      font-weight: 700;
      text-transform: uppercase;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
  }
    .lengueta p {
      margin-bottom: 0;
    }
  }

  /* Masonry on large screens */
  @media only screen and (min-width: 1024px) {
   .masonry {
    column-count: 4;
  }
  .header-static {
    height: 450px;
  }
  #home #carouselHeader .carousel-item,
  #matexp #carouselHeader .carousel-item {
    height: 435px;
  }
}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
 /*header*/
 .taragui-carousel-caption img{
  height: 120%;
}
.parle .carousel{
  padding: 2em 3em;
}
h2{
  font-size: 2.5em;
}

h3{
  font-size:1.1111111111111112em;
}
.saber img{
  height: 120%;
  width: 120%;
  margin: -20%;
}
.saber h3{
  font-size: 2em!important;
}
.try h3{
  font-size: 2.7em!important;
}
#matexp .btn{
  font-size: 2em;
}
}

/* Masonry on medium-sized screens */
@media only screen and (max-width: 1023px) and (min-width: 768px) {
 .masonry {
  column-count: 3;
}
}

/* Masonry on small screens */
@media only screen and (max-width: 767px) and (min-width: 540px) {
 .masonry {
  column-count: 2;
}
}

@media only screen and (max-width: 767px) and (min-width: 575.98px) {
  .footer-bottom .logo-footer {
    margin-bottom: 15px;
  }
}

/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
 .footer-top {
  background-size: auto, 77vw, auto;
}
.logo-link {
  width: 50%;
}
}

/*Small devices (landscape phones, less than 768px)*/
@media (max-width: 767.98px) {
  #producto-interna .img-producto-interna {
    margin-bottom: 20px;
  }
  .footer-bottom .centrado-chico {
    text-align: center;
  }
}

/*Medium devices (tablets, less than 992px)*/
@media (max-width: 991.98px) {
 .brd-header, .brd-logo{
  border-width: 0!important;
}
.red1bg, .red4bg{
  background-color: #ba0a13!important;
}
.saber img{
  width: 100%;
}
.category-link, .category-link-todos{
  border-radius: 50%;
  background-color: #fff;
  width: 80px;
  height: 80px;
  display: block;
}
}

/*Large devices (desktops, less than 1200px)*/
@media (max-width: 1199.98px) {
  .dropdown.lang-selector.show .dropdown-menu.show {
    left: -90px;
    top: 110%;
  }
}